<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    form {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #ccc;
        text-align: center;
    }

    .form-control {
        margin-bottom: 10px;
        width: 300px;
    }

    .form-logo {
        width: 100px;
        height: 60px;
        margin-bottom: 20px;
    }

    .form-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
</style>
{{log sanpham}}
<form method="post" action="/sanPham/update/{{_id}}" style="background-color: antiquewhite;"
    enctype="multipart/form-data">

    <div class="form-title">Update sản phẩm</div>
    <div class="mb-3">
        <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên sản phẩm" value="{{name}}">
    </div>
    <div class="mb-3 ">
        <select name="category">
            <option>-- Thể loại --</option>
            {{#each categories}}
            <option value={{this._id}}>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="price" name="price" placeholder="Nhập giá sản phẩm"
            value="{{price}}">
    </div>
    <div class="mb-3">
        <label for="avatar">Ảnh sản phẩm</label>
        <input type="file" id="image" name="image" value="{{sanpham.image}}">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="describe" name="describe" placeholder="Miêu tả"
            value="{{describe}}">
    </div>

    <button type="submit" class="btn btn-success">Sửa sản phẩm</button>

</form>