<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <img src="{{this.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tên sản phẩm : {{this.name}}</h5>
                <p class="card-text">Mô tả sản phẩm :{{this.describe}}</p>
                <p class="card-text">Thể loại: {{this.category.name}}</p>
                <p class="card-text">Giá: {{this.price}} đồng</p>
            </div>
        </div>
    </div>
</div>